{
    "root": true,
    "parser": "esprima",
    "plugins": [
        "prettier"
    ],
    "rules": {
        "prettier/prettier": "error"
    },
    "ignorePatterns": [
        "node_modules"
    ]
}
