$white: #ffffff;
$lightGray: #dcdcdc;
$darkGray: #505763;
$lightGray-100: #f5f7fa;
$black: #282a3c;
$darkSlateGrey: #2d3544;
$darkSlateGrey-80: rgba(45, 53, 68, 0.8);
$darkSlateGrey-90: rgba(45, 53, 68, 0.9);

$midnightBlue: #2c2761;
$dimray: #794988;
