@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './variables';
@import './colors';
@import './global.scss';

.body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    min-height: 90vh;
    a {
        text-decoration: none;
    }

    ul,
    ol {
        list-style: none;
    }
}

main {
    position: relative;
    min-height: 100vh;
    .sidebarWrapper {
        width: 25%;
    }
    .mainWrapper {
        width: 75%;
    }
    h1, h2, h3, h4, h5 {
        text-transform: capitalize;
    }
}

footer {
    min-height: 10vh;
    text-align: center;
    color: $white;
    background-color: $black;
}
